<div class="body">

    <div class="container contact-form">
        <h1>Contact form</h1>
        <hr>

        <div class="row">

            <div class="col-md-6">
                <p>Solution Analysts Pvt Ltd ,</p>
                <p> A-106, Sankalp Iconic Tower, </p>
                <p> Near Iscon Cross Road, Ambli - Bopal Road, </p>
                <p> Ahmedabad, Gujarat 380058.</p>
               
            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label>Massage</label>
                    <textarea class="form-control" rows="7"></textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block">Send</button>
                </div>

            </div>

        </div>

    </div>
</div>