<div class="row">
    <div class="col-md-6">
        <h1>Art Helped Me Battle Cancer</h1>
        <h2>Now I sell my art to support the fight against this disease.</h2>
    </div>
    <div class="col-md-6">
        <img src="../../../assets/home.jpg" alt="">
    </div>

</div>
<br>

<br><br>

<section id="slider">
  <input type="radio" name="slider" id="s1">
  <input type="radio" name="slider" id="s2">
  <input type="radio" name="slider" id="s3" checked>
  <input type="radio" name="slider" id="s4">
  <input type="radio" name="slider" id="s5">
  <label for="s1" id="slide1">
  	<img src="../../../assets/15.jpg" height="100%" width="100%">
  </label>
  <label for="s2" id="slide2">
  	  	<img src="../../../assets/14.jpg" height="100%" width="100%">
  </label>
  <label for="s3" id="slide3">
  	  	<img src="../../../assets/13.jpg" height="100%" width="100%">
  </label>
  <label for="s4" id="slide4">
  	  	<img src="../../../assets/12.jpg" height="100%" width="100%">
  </label>
  <label for="s5" id="slide5">
  	  	<img src="../../../assets/11.jpg" height="100%" width="100%">
  </label>
</section>

<br><br><br>